html,body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
header .col{
  height: 6rem;
}
header {
  background-color: whitesmoke;
  height: 6rem;
}
header img{
  max-height: 90%;
  max-width: 90%;
}
header .mobilemenu {
  display: inline-block;
}
@media only screen and (max-width: 425px) {
  header .desktopmenu {
    display: none;
  }
}
@media only screen and (min-width: 425px) {
  header .mobilemenu {
    display: none;
  }
}
.jumbotron {
  height: 30rem;
  background-image: url("../images/food-salad-restaurant-person.jpg");
  background-size: cover;
}
.jumbotron h1{
  background-color: whitesmoke;
}
.jumbotron p{
  background-color: whitesmoke;
}
@media only screen and (min-width: 768px) {
    .jumbotron h1{
      width: 40rem;
    }
    .jumbotron p{
      width: 40rem;
    }
  }

  footer {
    height: 8rem;
    background-color: silver;
  }
